
body {
  background-color: #abc
}
 *, h1, button {
  font-family: 'Nunito', sans-serif;
}

.tasks {
    width: 100%;
    max-width : 45rem;
    padding: 1em;
    margin: 1em auto;
    overflow: auto;
    background-color: white;
    box-shadow: 0px .25rem 1rem rgba(black, .25);
}
